.leftHeader {
  background-color: gray;
}

.leftHeader a{
    color: black;
}

.leftHeader a:hover{
    text-decoration: none;
    text-shadow: green 1px 1px 5px;
}
.middleHeader {
  background-color: gray;
}
.rightHeader {
  background-color: gray;
}


.topHeader {
    height: 80px;
}
