.imgSize {
    overflow: hidden;
    height: 200px;
    max-width: 200px;
    padding: 0
    
}

.imgSize:hover{
    box-shadow: rgb(17, 167, 17) 0 0 40px;
}

.imgSize img {
    height: 200px;
    width: 200px;
    
}